img {
  width: 210px;
  height: 120px;
}

h2 {
  text-align: center;
}

@media (min-width: 984px) {
  #welcome-summer img {
    width: 140px;
    height: 90px;
  }
}

#deal-of-the-day img {
  width: 100%;
  height: auto;
}

#last-minute img {
  width: 140px;
  height: 90px;
}
